.shoppingCartItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  cursor: pointer;
  z-index: 9999;
  max-height: 200px;

  width: 100%;
  height: 100%;
  margin-top: 1px;
  padding: 10px;

  color: var(--caneBlack);
  border-top: 1px solid var(--caneBlack);
}
.shoppingCartItem__image {
  margin-right: 10px;
  z-index: inherit;
}
.shoppingCartItem__info {
  display: flex;
  z-index: inherit;
  max-height: 90%;

  // ** ADDED **
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.shoppingCartItem__info__divider {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  align-content: center;
  margin: 10px;
  width: 100%;
}

.shoppingCartItem__info__name {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 3px;

  width: 100%;
  z-index: inherit;

  // ** ADDED **
  font-family: 'Poppins', sans-serif;
  color: var(--caneRed);
}
.shoppingCartItem__info__flavor {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 3px;
  width: 40%;
  z-index: inherit;
}
.shoppingCartItem__info__size {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 3px;
  width: 40%;

  z-index: inherit;
}
.shoppingCartItem__info__quantity {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 3px;
  width: 40%;

  z-index: inherit;
}
.shoppingCartItem__info__price {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 3px;
  width: 40%;

  z-index: inherit;
}

.quantityButton {
  // turn off all the default iphone button styles
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;

  // custom styles
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--caneBlack);
  width: 30px;
  height: 30px;
  margin: 0 5px;
  padding: 0;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 40px;
  height: 40px;
  margin: 3px;
  backdrop-filter: blur(3px);
  overflow: hidden;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-transform: lowercase;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.9);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.9);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
