.background {
  margin: 3px;
  border: 3px dotted var(--oldGold);
  border-radius: 8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 3px;
  border: 1px solid black;
  border-radius: 5px;

  color: var(--caneBlack);
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.componentTitle {
  font-size: 3rem;
  text-align: center;
}
