.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  flex-direction: column;
  width: 100%;
  top: 50%;
  padding: 0;
  @media (min-width: 768px) {
    flex-direction: row;
    width: 70%;
  }
  overflow-x: hidden;
  position: absolute;
  z-index: 4;
  //hide all scrollbars
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

}

.back {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--caneRed);
  cursor: pointer;
  width: 100px;
  border-top: 1px solid var(--caneRed);
  border-right: 1px solid var(--caneRed);
  border-bottom: 3px solid var(--caneRed);
  border-left: 1px solid var(--caneRed);
  border-radius: 20px;
  height: 40px;
  margin: 10px;
  backdrop-filter: blur(75px);
  &:hover {
    transform: translate(-1px, 2px) scaleY(0.96);
  }
  background-color: #fff;

}
