.transition {
  opacity: 0;
  animation-delay: 0.5s;
  animation: appear 0.5s ease-in-out forwards;

  @keyframes appear {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
