.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 12px;
  mix-blend-mode: multiply;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 1);
  color: var(--oldGold);
  border-top: 3px solid var(--caneBlack);
  &::-webkit-scrollbar {
    display: none;
  }
}

.cart__title {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  align-content: left;
  width: 100%;
  height: 100%;
  max-height: 50px;
  margin-top: 10px;
  font-size: 2rem;
  font-weight: 300;
  font-family: 'Caveat', cursive;
  color: var(--caneBlack);
  border-bottom: 1px solid var(--oldGold);
}


.selectedActive {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

}

.selectedActive__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.shoppingCartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  cursor: pointer;
  z-index: 9999;
  font-family: 'Caveat', cursive;
  max-height: 200px;

  width: 100%;
  height: 100%;
  margin-top: 1px;
  padding: 10px;

  color: var(--caneBlack);

  border: 1px solid rgba(250, 250, 250, 1);
}


@keyframes BackgroundActive {
  0% {
  }
  50% {
  }
  100% {
    height: 100%;
    width: 100%;
  }
}


.shoppingCartItem__image {
  margin-right: 10px;
  z-index: inherit;
}
.shoppingCartItem__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-right: 10px;
  z-index: inherit;
  max-height: 90%;
}

.shoppingCartItem__info__divider {
  display: flex;
  justify-content: space-between;
  text-align: left;
  flex-wrap: wrap;
}

.shoppingCartItem__info__name {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 3px;

  width: 100%;
  z-index: inherit;
}
.shoppingCartItem__info__flavor {
  font-size: .8rem;
  font-weight: 400;
  margin-bottom: 3px;
  width: 40%;
  z-index: inherit;

}
.shoppingCartItem__info__size {
  font-size: .8rem;
  font-weight: 400;
  margin-bottom: 3px;
  width: 40%;

  z-index: inherit;

}
.shoppingCartItem__info__quantity {
  font-size: .8rem;
  font-weight: 400;
  margin-bottom: 3px;
  width: 40%;

  z-index: inherit;

}
.shoppingCartItem__info__price {

  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 3px;
  width: 40%;

  z-index: inherit;

}

.subTotal {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  align-content: right;
  font-family: 'Caveat', cursive;

  text-align: right;
  width: 100%;
  height: 50px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 5px;
  border-top: 1px solid var(--oldGold);
  margin-right: 10px;
  padding: 3px;

}

.subTotalTitle {
  font-size: 1.5rem;
  font-weight: 600;
  z-index: inherit;
  text-align: right;
  align-items: flex-start;
  justify-content: right;
  display: flex;
}

.ActiveProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;

  min-width: 350px;
  min-height: 300px;
  background-color: white;
}

.checkoutButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 1px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 1);
  position: relative;
  min-width: 150px;
  min-height: 50px;
}

.checkoutButton__button{
  display: flex;
  position: relative;
  font-size: 1.5rem;
  font-family: 'Caveat brush', cursive;
  font-weight: 400;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  margin-top: 1px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid var(--oldGold);
  color: black;
  border-radius: 30px;
  box-shadow: -1px -1px 1px 1px var(--oldGold);
  &:hover {
    background-color: rgba(100, 100, 100, 0.9);
    color: var(--oldGold);
    cursor: pointer;
    border: 1px solid var(--caneBlack);
    box-shadow: inset 3px 3px 0 1px var(--caneBlack);
  }


}
