@mixin BIGTEXT {
  font-size: 4rem;
  font-weight: 300;
  color: var(--caneBlack);
}

.cart {
  width: 100%;
  // height: 0;
  padding: 12px;
  z-index: 99999;

  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  mix-blend-mode: multiply;
  border-radius: 10px;
  &::-webkit-scrollbar {
    display: none;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  color: rgba(100, 100, 100, 0.9);
  // ** ADDED **
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  max-height: 500px;
  gap: 1rem;
}

.cart__title {
  width: 100%;
  color: var(--caneBlack);
  font-size: 2rem;
  font-weight: 300;

  // ** ADDED **
  text-align: center;
}

.shoppingCartItem {
  z-index: 9999;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0;
  border: 1px solid var(--caneBlack);
  color: var(--caneBlack);
  background-color: var(--creamGrey);
}

@keyframes BackgroundActive {
  0% {
  }
  50% {
  }
  100% {
    height: 100%;
    width: 100%;
  }
}

.shoppingCartItem__image {
  margin-right: 10px;
  z-index: inherit;
}

.shoppingCartItem__info {
  max-height: 90%;
  width: 100%;
  z-index: inherit;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.8rem;
}

.shoppingCartItem__info__divider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  text-align: left;
  width: 100%;
}

.shoppingCartItem__info__name {
  width: 100%;
  margin-bottom: 3px;
  z-index: inherit;

  font-size: 1rem;
  font-weight: 600;
}

.shoppingCartItem__info__flavor {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 3px;
  width: 40%;
  z-index: inherit;
}

.shoppingCartItem__info__size {
  font-size: 0.8rem;
  font-weight: 400;

  z-index: inherit;
}

.shoppingCartItem_qtyAndPriceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.shoppingCartItem__info__quantity {
  font-size: 0.8rem;
  font-weight: 400;

  z-index: inherit;
}

.shoppingCartItem__info__price {
  font-size: 0.8rem;
  font-weight: 400;
  z-index: inherit;
}

.selectedActive {
  display: flex;
  justify-content: flex-start;

  button {
    border: none;
    background-color: transparent;
    margin-top: 5px;
    align-self: flex-start;
    font-size: 0.7rem;
    color: var(--caneRed);
    text-decoration: underline;
  }
}

.subTotal {
  width: 95%;
  height: 50px;
  margin-top: 1px;
  margin-right: 5%;
  margin-bottom: 1px;
  padding: 3px;
  padding: 5px;

  border-top: 1px solid rgba(200, 200, 200, 1);

  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  align-content: right;

  text-align: right;
}

.subTotalTitle {
  z-index: inherit;

  display: flex;
  justify-content: right;
  align-items: flex-start;

  color: #000;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 600;
}

.ActiveProduct {
  background: white;
  width: 100%;
  height: 100%;
  min-width: 350px;
  min-height: 300px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  text-align: center;
}

.checkoutButton {
  background: rgba(250, 250, 250, 1);
  position: relative;
  min-width: 110px;
  min-height: 32px;
  padding: 6px;
  z-index: 9999;

  border-top: 1px solid rgba(100, 100, 100, 0.9);
  border-left: 2px solid rgba(100, 100, 100, 0.9);
  border-bottom: 5px solid rgba(220, 220, 220, 0.9);
  border-right: 5px solid rgba(220, 220, 220, 0.9);
  border-radius: 30px;
  box-shadow: -1px -1px 2px 1px rgba(100, 100, 100, 0.9);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  color: black;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background: rgba(242, 242, 242, 1);

    border-top: 4px solid rgba(242, 242, 242, 1);
    border-left: 5px solid rgba(242, 242, 242, 1);
    border-bottom: 3px solid rgba(160, 160, 160, 0.8);
    border-right: 2px solid rgba(160, 160, 160, 0.8);
    box-shadow: -1px -1px 1px 0px rgba(255, 255, 255, 0.4),
      1px 1px 1px 0px rgba(100, 100, 100, 0.9);

    transform: scale(1.03);
  }

  &:active {
    background: rgba(242, 242, 242, 1);

    border-top: 4px solid rgba(242, 242, 242, 0.1);
    border-left: 5px solid rgba(242, 242, 242, 0.1);
    border-bottom: 3px solid rgba(242, 242, 242, 0.1);
    border-right: 2px solid rgba(242, 242, 242, 0.1);
  }
}

.buttonBackdrop {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  border-radius: 30px;
  box-shadow: 2px 3px 3px 0px rgba(180, 180, 180, 0.8),
    -1px -1px 1px 0px rgba(120, 120, 120, 0.8),
    inset 3px 3px 1px 0px rgba(230, 230, 230, 0.8);
}

.checkoutButton__button {
  background: transparent;
  position: relative;
  width: 100%;
  height: 100%;

  border: none;
  text-shadow: 1px 1px 1px rgba(140, 140, 140, 0.9);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;

  font-size: 1.5rem;

  &:hover {
    cursor: pointer;
  }
}

.cartItemsScroller {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1px;
  z-index: 9999;

  display: flex;
  flex-direction: column;

  //hide all scrollbars
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  width: 100%;
  gap: 5px;
  height: 100%;

  border-bottom: 1px solid rgba(200, 200, 200, 1);
  border-top: 1px solid rgba(200, 200, 200, 1);
}

.selectedActive {
  cursor: pointer;
}
