.progress {
  position: relative;
  height: 4px;
  background-color: #000000;
  border-radius: 2px;
  overflow: hidden;
}

.progressContainer {
  position: sticky;
  margin-top: 0;
  top: 0;

  z-index: 9999999;
  width: 60vw;
  height: 5px;
  background-color: #ffffff;
}

.progressStage {
  position: absolute;
  height: 100%;
  width: 0;
  background-image: linear-gradient(
    45deg,
    var(--brown) 10%,
    rgba(255,255,255,.80),
    rgba(255,255,255,.85),
    rgba(255,255,255,.90),
    rgba(255,255,255,.95),
    rgba(255,255,255,.99),
    rgba(255,255,255,.95),
    rgba(255,255,255,1)
  );;
  animation: width 0.5s ease;
}

@keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
