.formWrapper {
  width: 85%;
  max-width: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  background-color: var(--caneWhite);
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem 2rem 2rem;
}

.title {
  color: var(--caneRed);
  margin-bottom: 1rem;
}

.input {
  background: #d1d1d1;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.btn {
  width: 100%;
  background: var(--oldGold);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: var(--caneRed);
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background: #eb8601;
  }
}
