$localButtonLightOne: white;
$localButtonLightTwo: var(--caneRed);
$localButtonDarkOne: rgba(139, 0, 0, 1);
$localButtonDarkTwo: rgba(139, 0, 0, .5);


@mixin BorderAndShadow($lightColorOne, $lightColorTwo, $darkColorOne, $darkColorTwo, $includeEffects) {
  background-color: $lightColorOne;
  border-top: 1px solid $darkColorOne;
  border-left: 2px solid $darkColorOne;
  border-radius: 30px;
  box-shadow: 1px 1px 2px 1px $darkColorOne;
  mix-blend-mode: luminosity;
  @if $includeEffects {
    &:hover {
      border-top: 1px solid $lightColorTwo;
      border-left: 3px solid $lightColorTwo;
      box-shadow: inset 1px 1px 2px 1px $lightColorOne;

    }
    &:active {
      border-top: 1px solid $lightColorTwo;
      border-left: 3px solid $lightColorTwo;
      box-shadow: inset 1px 1px 2px 1px $lightColorOne;
    }
  }
}

.button{
  display: flex;
}

.button__button{
  @include BorderAndShadow($localButtonLightOne, $localButtonLightTwo, $localButtonDarkOne, $localButtonDarkTwo, true);
  font-family: 'Caveat Brush', cursive;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--caneRed);
  cursor: pointer;
  border-top: 1px solid var(--caneRed);
  border-right: 1px solid var(--caneRed);
  border-bottom: 3px solid var(--caneRed);
  border-left: 1px solid var(--caneRed);
  border-radius: 20px;
  margin: 10px;
  padding: 5px 10px 5px 10px;
  backdrop-filter: blur(75px);
  &:hover {
    transform: translate(-1px, 2px) scaleY(0.96);
  }
  background-color: #fff;
}
