.stickyNav {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
  background-color: #510000;
  // padding-top: 1rem;
  align-items: center;
  z-index: 100;

  .bottomRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--caneRed);
  }
}

.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 20%;
  // transition: 0.4s;
  width: 40px;
  height: 40px;

  img {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 100%;
  }

  background-image: linear-gradient(
    45deg,
    rgba(188, 142, 3, 0.95),
    rgba(188, 142, 3, 0.95),
    rgba(255, 255, 255, 0.95),
    rgba(188, 142, 3, 0.95)
  );

  // mix-blend-mode: hard-light;
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-clip: content-box;
  transition: background-size 0.4s ease-in-out;

  &:hover {
    animation: BackgroundActive 1s forwards;
    cursor: pointer;
  }
  &:active {
    animation: BackgroundActive 1s forwards;
    cursor: pointer;
  }
}

@keyframes BackgroundActive {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 50%;
  }
}

.title {
  // justify-content: center;
  // align-items: center;
  // flex-direction: row;
  // grid-column: 1;
  // grid-row: span 3;
  // max-height: 165px;
  // max-width: 65%;
  // height: 100%;
  // width: 100%;
  // margin: 0 30px 0 30px;
  // z-index: 10;
  // display: grid;
  // grid-template-columns: 3fr 1fr 1fr;
  // grid-template-rows: 1fr;

  // ** ADDED **
  // background-color: var(--caneRed);
  // padding: 1rem;
}

.titleText {
  //   grid-column: 1;
  //   column-span: all;
  font-size: 2rem;
  // color: var(--oldGold);
  text-shadow: 1px 1px 3px var(--caneBlack);
  //   cursor: pointer;
  //   margin: 1px 0 50px 3px;
  //   width: 70%;
  //   max-height: 150px;
  //   transform: translateY(-10px);
  //   position: relative;
  //   z-index: 10;

  // ** ADDED **
  color: var(--creamGrey);
  font-weight: 700;
  text-align: center;

  &:hover {
    // color: var(--brown);
    cursor: pointer;
  }
  //   @media (max-width: 600px) {
  //     font-size: 3rem;
  //   }
}

.fancyText {
  font-size: 1rem;
  color: var(--caneRed);
  // text-shadow: 1px 1px 2px var(--caneBlack);
  cursor: pointer;
  // margin: 0 50px 0 10px;
  position: relative;
  z-index: 10;
  width: 100%;

  transform: translateY(-10px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  // border-bottom: 1px solid var(--oldGold);
  &:hover {
    color: var(--brown);
    cursor: pointer;
  }
}

.textLink {
  position: inherit;
  text-decoration: none;
  z-index: 9;
  color: var(--creamGrey);
  text-align: center;
  &:hover {
    color: var(--brown);
    cursor: pointer;
  }
}
