// .navbar {
//   position: sticky;
//   overflow: hidden;
//   top: 0;
//   z-index: 9;

//   mix-blend-mode: initial;
//   background-blend-mode: multiply;

// }

// .navBackground {
//   position: absolute;
//   width: 100vw;
//   height: 100px;
//   top: 0;
// }

// .bg {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   aspect-ratio: 1/1;
//   background-image: url('/images/Popcorn_Background.png');
//   background-position: -100px -10px;
//   background-size: 350px 350px;
//   background-repeat: repeat;
//   z-index: 5;
//   background-color: rgba(255, 255, 255, 1);
// }

// .gridLayout {
//   display: grid;
//   grid-template-columns: 1fr 3fr 1fr;
//   grid-template-rows: 10% 5% 90%;
//   position: absolute;
//   width: 75%;
//   max-height: 100px;
//   top: 0;
//   height: 100px;
//   z-index: 10;
//   margin: 0 10% 0 10%;
//   font-family: 'Lobster Two', cursive;
// }

.stickyNav {
  position: sticky;
  top: 0;
  // margin-top: 100px;
  width: 100%;
  // height: 50px;
  display: flex;
  justify-content: space-between;
  // border-radius: 30px;
  // z-index: 5;
  // aspect-ratio: 1/1;
  // background-image: url('/images/Popcorn_Background.png');
  // background-position: 0 0;
  // background-size: 350px 350px;
  // background-repeat: repeat;
  // background-color: rgba(255, 255, 255, 1);
  // border-radius: 0 0 20px 20px;
  // box-shadow: 0px 12px 3px rgba(0, 0, 0, 0.1);

  // ** ADDED **
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
  background-color: var(--creamGrey);
  padding: 1rem;
  align-items: center;
  z-index: 100;

  // @media (max-width: 600px) {
  //   height: 75px;
  // }
}

.hamburger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // flex-direction: column;
  cursor: pointer;
  width: 35px;
  height: 35px;
  // margin: 5px 10px 0 10px;
  border-radius: 20%;
  border: 1px solid var(--caneBlack);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.05);
  transition: 0.4s;
  // z-index: 15;

  // ** ADDED **
  width: 40px;
  height: 40px;

  background-image: linear-gradient(
    45deg,
    var(--caneBlack) 0%,
    rgba(95, 95, 95, 0.95),
    rgba(95, 95, 95, 0.95),
    rgba(95, 95, 95, 0.95),
    rgba(95, 95, 95, 0.95),
    rgba(255, 255, 255, 0.7),
    rgba(95, 95, 95, 0.95),
    rgba(95, 95, 95, 0.95),
    var(--caneBlack) 100%
  );

  mix-blend-mode: hard-light;
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-clip: content-box;
  transition: background-size 0.4s ease-in-out;
  &:hover {
    animation: BackgroundActive 1s forwards;
    cursor: pointer;
  }
  &:active {
    animation: BackgroundActive 1s forwards;
    cursor: pointer;
  }
  &:nth-child(1) {
    // z-index: 15;

    background-image: linear-gradient(
      45deg,
      var(--caneBlack) 0%,
      rgba(95, 95, 95, 0.95),
      rgba(95, 95, 95, 0.95),
      rgba(95, 95, 95, 0.95),
      rgba(95, 95, 95, 0.95),
      rgba(255, 255, 255, 0.7),
      rgba(95, 95, 95, 0.95),
      rgba(95, 95, 95, 0.95),
      var(--caneBlack) 100%
    );

    mix-blend-mode: hard-light;
    background-size: 200% 200%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-clip: content-box;
    transition: background-size 0.4s ease-in-out;
    &:hover {
      animation: BackgroundActive 1s forwards;
      cursor: pointer;
    }
    &:active {
      animation: BackgroundActive 1s forwards;
      cursor: pointer;
    }
  }

  // @media (max-width: 600px) {
  //   margin-top: 20px;
  // }
}

@keyframes BackgroundActive {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 50%;
  }
}

.title {
  // justify-content: center;
  // align-items: center;
  // flex-direction: row;
  // grid-column: 1;
  // grid-row: span 3;
  // max-height: 165px;
  // max-width: 65%;
  // height: 100%;
  // width: 100%;
  // margin: 0 30px 0 30px;
  // z-index: 10;
  // display: grid;
  // grid-template-columns: 3fr 1fr 1fr;
  // grid-template-rows: 1fr;

  // ** ADDED **
  background-color: var(--caneRed);
  padding: 1rem;
}

.titleText {
  //   grid-column: 1;
  //   column-span: all;
  font-size: 2rem;
  // color: var(--oldGold);
  text-shadow: 1px 1px 5px var(--caneBlack);
  //   cursor: pointer;
  //   margin: 1px 0 50px 3px;
  //   width: 70%;
  //   max-height: 150px;
  //   transform: translateY(-10px);
  //   position: relative;
  //   z-index: 10;

  // ** ADDED **
  color: var(--candyYellow);

  &:hover {
    color: var(--brown);
    cursor: pointer;
  }
  //   @media (max-width: 600px) {
  //     font-size: 3rem;
  //   }
}

.fancyText {
  font-size: 1.1rem;
  color: var(--brown);
  text-shadow: 1px 1px 2px var(--caneBlack);
  cursor: pointer;
  margin: 0 50px 0 10px;
  position: relative;
  z-index: 10;
  width: 30%;

  transform: translateY(-10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  &:hover {
    color: var(--brown);
    cursor: pointer;
  }
}

.textLink {
  position: inherit;
  text-decoration: none;
  z-index: 9;

  width: 100%;
  height: 100%;
  color: var(--oldGold);
  &:hover {
    color: var(--brown);
    cursor: pointer;
  }
}
