.transition {
  opacity: 0;
  animation-delay: 0.5s;
  animation: appear 0.5s ease-in-out forwards;

  @keyframes appear {
    0% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }



  .transitionChildren {
    animation: Slideup 0.5s ease-in-out forwards;
    transform: translateY(100%);

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        animation-delay: 0.5s + (0.1s * $i);
      }
    }
    @keyframes Slideup {
      0% {
        transform: translateY(100%);
      }
      100% {
        transform: translateY(0%);
      }
    }
  }



}

