.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(139,0,0,0.8);
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}

.image {
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
}

.price {
  font-size: 20px;
  color: #333;
  font-weight: bold;
}

.quantityContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.quantityText {
  font-size: 16px;
  color: #333;
  margin-right: 10px;
}

.quantityInput {
  width: 50px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
}

.addToCartButton {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #444;
  }
}
